<div class="investio-module-devcamp-angular-multeam-firebase container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2" ng-repeat="(key, document) in documents">
			{{ document.id }}: {{ document.name }}
			<button class="btn btn-danger" ng-click="remove(key)">usun</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<input type="text" ng-model="name" class="form-control">
			<button ng-click="create()" class="btn btn-primary">Publikuj</button>
		</div>
	</div>
</div>
